.menu-bars {
	margin-left: 2rem;
	font-size: 2rem;
	background: none;
	align-items: center;
}

.nav-menu {
	background-image: linear-gradient(to bottom, #0099ff, #006bb3);
	/* background-color: #006bb3; */
	width: 400px;
	height: 940px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 30px;
	left: 30px;
	transition: transform 1s cubic-bezier(0, 0.52, 0, 1);
	border-radius: 50px;
}

.nav-menu.active {
	left: 0;
	transition: 350ms;
}

.nav-text {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 8px 0px 8px 16px;
	list-style: none;
	height: 60px;
	align-items: center;
}

.nav-text a {
	text-decoration: none;
	color: #f5f5f5;
	font-size: 18px;
	width: 95%;
	height: 100%;
	display: flex;
	padding: 0 16px;
	border-radius: 4px;
	align-items: center;
}

.nav-text a:hover {
	background-color: #03033d;
}

.nav-menu-items {
	width: 100%;
	align-items: center;
}

.UserAvatar {
	display: inline-block;
	color: white;
	align-items: center;
	position: 'absolute';
	left: '50%';
	top: '25%';
	transform: 'translate(-50%, -50%)';
}

.UserAvatar--inner {
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-items: center;
}

.UserAvatar--light {
	color: gray;
	align-items: center;
}

.UserAvatar--light .UserAvatar--inner {
	border: 100px solid lightgray;
	align-items: center;
}

span {
	margin-left: 16px;
}
