@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.network{
	float:right;
	width: 100%;
	height: 92vh
}

.home{
	float:right;
	width: 80%;
	height: 92vh;
	background-color: white;
}
.classes,
.rooms {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
